<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        color: black;
        margin: 10;
        padding: 10;
      }
      h1 {
        text-align: center;
      }
      .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      ul {
        list-style-type: none;
      }
    </style>

    <title></title>
  </head>
  <body>
    <h1 class="text-center">.....Country Details......</h1>
    <div class="main">
      <ul>
        <li><h3>Flag</h3></li>
        <li><h3>Capital</h3></li>
        <li><h3>Largest city</h3></li>
        <li><h3>Language</h3></li>
        <li><h3>Area</h3></li>
        <li><h3>Population</h3></li>
        <li><h3>Gdp nominal</h3></li>
      </ul>
      <ul class="list-group">
        {% for movie in df%}
        <li class="list-group-item">
          <h3>{{ movie }}</h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
